<!DOCTYPE html>
  <head>
    <base href="https://polygit.org/px-*+PredixDev+*/webcomponentsjs+v0.7.24/polymer+v1.9.1/components/">
    <script src="webcomponentsjs/webcomponents.js"></script>

    <link href="polymer/polymer.html" rel="import">
    
    <!-- Data table-->
    <link href="px-data-table/px-data-table.html" rel="import">
    <link href="px-data-table-column/px-data-table-column.html" rel="import">

    <!-- Widget cards-->
    <link rel="import" href="px-widget-cards/px-threeup.html">

    <!-- Px tabs -->
    <link href="px-tabs/px-tab-set.html" rel="import">
    <link href="px-tabs/px-tab.html" rel="import">
    <link href="px-tabs/px-tab-pages.html" rel="import">

    <link href="px-theme/px-theme-styles.html" rel="import" >
    <style include="px-theme-styles" is="custom-style"></style>
  </head>

<body>
  <a href="/download">Testing</a>
  <px-threeup id="widget-3" widget-header="Turbine Summary View" widget-icon="fa-pied-piper">
        <div class='widget-1'>
          <span>
            <h2>Turbine 1</h2>
            <p>Status: <font color="green" id="t1status">ONLINE</font></p>
            <a><img id="t1image" src="https://climate.nasa.gov/internal_resources/827/"/></a>
            <a href="download">Download CSV</a>
          </span>
        </div>
        <div class='widget-2'>
          <span>
            <h2>Turbine 2</h2>
            <p>Status: <font color="red" id="t2status">OFFLINE</font></p>
            <a><img id="t2image" src="https://image.ibb.co/cqL2N5/still_turbine.png"/></a>
            <button type="button" href="download">Download CSV</button>
          </span>
        </div>
        <div class='widget-3'>
          <span>
            <h2>Turbine 3</h2>
            <p>Status: <font color="green" id="t3status">ONLINE</font></p>
            <a><img id="t3image" src="https://climate.nasa.gov/internal_resources/827/"/></a>
            <button type="button" href="download">Download CSV</button>
          </span>
        </div>
  </px-threeup>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    function update_elements(){
      var t1s = document.getElementById("t1status");
      var t2s = document.getElementById("t1status");
      var t3s = document.getElementById("t1status");
      $.get('https://turbine-farm.run.aws-usw02-pr.ice.predix.io/api/turbines/1/heartbeat', function(t1data){
        console.log(t1data.status);
        t1s.innerHTML = t1data.status;
        if(t1data.status == "ONLINE"){
          t1s.color = "green";
          t1image.src = "https://climate.nasa.gov/internal_resources/827/";
        } else {
          t1s.color = "red";
          t1image.src = "https://image.ibb.co/cqL2N5/still_turbine.png";
        }
      });
      $.get('https://turbine-farm.run.aws-usw02-pr.ice.predix.io/api/turbines/2/heartbeat', function(t2data){
        console.log(t2data.status);
        t2s.innerHTML = t2data.status;
        if(t2data.status == "ONLINE"){
          t2s.color = "green";
          t2image.src = "https://climate.nasa.gov/internal_resources/827/";
        } else {
          t2s.color = "red";
          t2image.src = "https://image.ibb.co/cqL2N5/still_turbine.png";
        }
      });
      $.get('https://turbine-farm.run.aws-usw02-pr.ice.predix.io/api/turbines/3/heartbeat', function(t3data){
        console.log(t3data.status);
        t3s.innerHTML = t3data.status;
        if(t3data.status == "ONLINE"){
          t3s.color = "green";
          t3image.src = "https://climate.nasa.gov/internal_resources/827/";
        } else {
          t3s.color = "red";
          t3image.src = "https://image.ibb.co/cqL2N5/still_turbine.png";
        }
      });
    }
    setInterval(update_elements, 10000);
  </script>

  <!-- Table to represent live data -->
  <px-data-table table-data='[
   {"Unplanned Outages":"3","Planned Outages":"2","Avg. Temp":"31", "Avg. Volt":"1.6","Farm":"Batons", "comments":""},
   {"Unplanned Outages":"1","Planned Outages":"3","Avg. Temp":"35", "Avg. Volt":"1.2","Farm":"West", "comments":""},
   {"Unplanned Outages":"5","Planned Outages":"5","Avg. Temp":"41", "Avg. Volt":"1.3","Farm":"Green", "comments":""},
   {"Unplanned Outages":"4","Planned Outages":"5","Avg. Temp":"29", "Avg. Volt":"0.9", "Farm":"Wind", "comments":""},
   {"Unplanned Outages":"7","Planned Outages":"6","Avg. Temp":"37", "Avg. Volt":"1.7", "Farm":"North", "comments":""},
   {"Unplanned Outages":"8","Planned Outages":"4","Avg. Temp":"44", "Avg. Volt":"2.0", "Farm":"South", "comments":""},
   {"Unplanned Outages":"0","Planned Outages":"3","Avg. Temp":"52", "Avg. Volt":"2.1", "Farm":"Sara", "comments":""},
   {"Unplanned Outages":"1","Planned Outages":"4","Avg. Temp":"28", "Avg. Volt":"1.4", "Farm":"Cameron", "comments":""},
   {"Unplanned Outages":"2","Planned Outages":"4","Avg. Temp":"32", "Avg. Volt":"1.1", "Farm":"Atomic", "comments":""},
   {"Unplanned Outages":"1","Planned Outages":"2","Avg. Temp":"33", "Avg. Volt":"1.0", "Farm":"Pink", "comments":""},
   {"Unplanned Outages":"4","Planned Outages":"1","Avg. Temp":"38", "Avg. Volt":"0.5", "Farm":"GE", "comments":""}]'
   striped="true"
   filterable="true"
   >
   <px-data-table-column name="Unplanned Outages" type="string" filterable="true" sortable="true"></px-data-table-column>
   <px-data-table-column name="Planned Outages" type="string" filterable="true" sortable="true"></px-data-table-column>
   <px-data-table-column name="Avg. Temp" type="string" filterable="true" sortable="true"></px-data-table-column>
   <px-data-table-column name="Avg. Volt" type="string" filterable="true" sortable="true"></px-data-table-column>
   <px-data-table-column name="Farm" type="string" filterable="true" sortable="true"></px-data-table-column>
   <px-data-table-column name="comments" type="string" filterable="true" editable="true" sortable="true"></px-data-table-column>    
  </px-data-table>

<px-tab-set selected="{{selected}}">
        <px-tab>Tab 1</px-tab>
        <px-tab>Tab 2</px-tab>
        <px-tab>Tab 3</px-tab>
    </px-tab-set>
    <px-tab-pages selected="{{selected}}">
        <div>Tab 1 content</div>
        <div>Tab 2 content</div>
        <div>Tab 3 content</div>
    </px-tab-pages>

<!--     <px-tab-set selected="0">
        <px-tab id='tab1' class="iron-selected">
          <div id="tab1title" class="tab-title--selected">Tab 1</div>
        </px-tab>
        <px-tab id='tab2'>Tab 2</px-tab>
        <px-tab id='tab3'>Tab 3</px-tab>
    </px-tab-set>
    <px-tab-pages>
        <div id="tab1-content" class="iron-selected">Test</div>
        <div>Tab 2 content</div>
        <div>Tab 3 content</div>
    </px-tab-pages> -->
</body>
  