<!DOCTYPE html>
  <head>
    <base href="https://polygit.org/px-*+PredixDev+*/webcomponentsjs+v0.7.24/polymer+v1.9.1/components/">
    <script src="webcomponentsjs/webcomponents.js"></script>

    <link href="polymer/polymer.html" rel="import">
    
    <!-- Data table-->
    <link href="px-data-table/px-data-table.html" rel="import">
    <link href="px-data-table-column/px-data-table-column.html" rel="import">

    <!-- Widget cards-->
    <link rel="import" href="px-widget-cards/px-threeup.html">

    <!-- Px tabs -->
    <link href="px-tabs/px-tab-set.html" rel="import">
    <link href="px-tabs/px-tab.html" rel="import">
    <link href="px-tabs/px-tab-pages.html" rel="import">

    <link href="px-theme/px-theme-styles.html" rel="import" >
    <style include="px-theme-styles" is="custom-style"></style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  
<body>
  <div class="w3-container">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button" onclick="openClient('Cervantes')">Cervantes Power</button>
      <button class="w3-bar-item w3-button" onclick="openClient('Flower')">Flower Power</button>
    </div>

    <div id="Cervantes" class="w3-container client">
      <span><img src="https://preview.ibb.co/cPqyUk/LOGO_CERVANTES_02.jpg" width="150" height="50"/></span>

        <px-threeup id="widget-3">
          <div class='widget-1'>
            <span>
              <h2>Turbine 1</h2>
              <p>Status: <font color="green" id="t1status">ONLINE</font></p>
              <a><img id="t1image" src="https://climate.nasa.gov/internal_resources/827/"/></a>
              <!-- <a href="download">Download CSV</a> -->
            </span>
          </div>
          <div class='widget-2'>
            <span>
              <h2>Turbine 2</h2>
              <p>Status: <font color="red" id="t2status">OFFLINE</font></p>
              <a><img id="t2image" src="https://image.ibb.co/cqL2N5/still_turbine.png"/></a>
              <!-- <button type="button" href="download">Download CSV</button> -->
            </span>
          </div>
          <div class='widget-3'>
            <span>
              <h2>Turbine 3</h2>
              <p>Status: <font color="green" id="t3status">ONLINE</font></p>
              <a><img id="t3image" src="https://climate.nasa.gov/internal_resources/827/"/></a>
              <!-- <button type="button" href="download">Download CSV</button> -->
            </span>
          </div>
        </px-threeup>

        <px-data-table id="datatable" table-data='[{"Turbine ID":"1","Temperature":"31", "Voltage":"1.6","Timestamp":"{{timestamp}}", "Comments":""},{"Turbine ID":"2","Temperature":"35", "Voltage":"1.2","Timestamp":"{{timestamp}}", "Comments":""},{"Turbine ID":"3","Temperature":"41", "Voltage":"1.3","Timestamp":"{{timestamp}}", "Comments":""}]'
           striped="true"
           filterable="true">
           <px-data-table-column name="Turbine ID" type="string" filterable="true" sortable="true"></px-data-table-column>
           <px-data-table-column name="Temperature" type="string" filterable="true" sortable="true"></px-data-table-column>
           <px-data-table-column name="Voltage" type="string" filterable="true" sortable="true"></px-data-table-column>
           <px-data-table-column name="Timestamp" type="string" filterable="true" sortable="true"></px-data-table-column>
           <px-data-table-column name="Comments" type="string" filterable="true" editable="true" sortable="true"></px-data-table-column>    
         </px-data-table>

    </div>

    <div id="Flower" class="w3-container client" style="display:none">
      <span><img src="https://image.ibb.co/gvNnpk/Flower_Power_2.jpg" width="150" height="50"/></span>


      <px-data-table table-data='[
         {"Outages":"2", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"31", "Avg. Volt":"1.6","Farm":"Batons", "Comments":""},
         {"Outages":"3", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"35", "Avg. Volt":"1.2","Farm":"West", "Comments":""},
         {"Outages":"5", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"41", "Avg. Volt":"1.3","Farm":"Green", "Comments":""},
         {"Outages":"5", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"29", "Avg. Volt":"0.9", "Farm":"Wind", "Comments":""},
         {"Outages":"6", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"37", "Avg. Volt":"1.7", "Farm":"North", "Comments":""},
         {"Outages":"4", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"44", "Avg. Volt":"2.0", "Farm":"South", "Comments":""},
         {"Outages":"3", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"52", "Avg. Volt":"2.1", "Farm":"Sara", "Comments":""},
         {"Outages":"4", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"28", "Avg. Volt":"1.4", "Farm":"Cameron", "Comments":""},
         {"Outages":"4", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"32", "Avg. Volt":"1.1", "Farm":"Atomic", "Comments":""},
         {"Outages":"2", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"33", "Avg. Volt":"1.0", "Farm":"Pink", "Comments":""},
         {"Outages":"1", "Reliability (Deployment Days/Outages)":"2", "Avg. Temp":"38", "Avg. Volt":"0.5", "Farm":"GE", "Comments":""}]'
         striped="true"
         filterable="true"
         >
         <px-data-table-column name="Outages" type="string" filterable="true" sortable="true"></px-data-table-column>
         <px-data-table-column name="Reliability (Deployment Days/Outages)" type="string" filterable="true" sortable="true"></px-data-table-column>
         <px-data-table-column name="Avg. Temp" type="string" filterable="true" sortable="true"></px-data-table-column>
         <px-data-table-column name="Avg. Volt" type="string" filterable="true" sortable="true"></px-data-table-column>
         <px-data-table-column name="Farm" type="string" filterable="true" sortable="true"></px-data-table-column>
         <px-data-table-column name="Comments" type="string" filterable="true" editable="true" sortable="true"></px-data-table-column>    
       </px-data-table>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    function update_elements(){
      var t1s = document.getElementById("t1status");
      var t2s = document.getElementById("t2status");
      var t3s = document.getElementById("t3status");
      var t1image = document.getElementById("t1image");
      var t2image = document.getElementById("t2image");
      var t3image = document.getElementById("t3image");
      $.get('https://turbine-farm.run.aws-usw02-pr.ice.predix.io/api/turbines/1/heartbeat', function(t1data){
        t1s.innerHTML = "<b>" + t1data.status + "</b>";
        if(t1data.status == "ONLINE"){
          t1s.color = "green";
          t1image.src = "https://climate.nasa.gov/internal_resources/827/";
        } else {
          t1s.color = "red";
          t1image.src = "https://image.ibb.co/cqL2N5/still_turbine.png";
        }
      });
      $.get('https://turbine-farm.run.aws-usw02-pr.ice.predix.io/api/turbines/2/heartbeat', function(t2data){
        t2s.innerHTML = "<b>" + t2data.status + "</b>";
        if(t2data.status == "ONLINE"){
          t2s.color = "green";
          t2image.src = "https://climate.nasa.gov/internal_resources/827/";
        } else {
          t2s.color = "red";
          t2image.src = "https://image.ibb.co/cqL2N5/still_turbine.png";
        }
      });
      $.get('https://turbine-farm.run.aws-usw02-pr.ice.predix.io/api/turbines/3/heartbeat', function(t3data){
        t3s.innerHTML = "<b>" + t3data.status + "</b>";
        if(t3data.status == "ONLINE"){
          t3s.color = "green";
          t3image.src = "https://climate.nasa.gov/internal_resources/827/";
        } else {
          t3s.color = "red";
          t3image.src = "https://image.ibb.co/cqL2N5/still_turbine.png";
        }
      });
      update_table();
    }
    function query_turbine(type, turbine){
      var value = null;
      $.ajax({
        url: 'https://turbine-farm.run.aws-usw02-pr.ice.predix.io/api/turbines/' + turbine + '/sensors/' + type,
        type: 'get',
        dataType: 'json',
        async: false,
        success: function(data){
          value = data.value;
        },
        error: function(data){
          value = 0;
        }
      });
      return '"' + value + '"';
    }
    function update_table(){
      console.log(query_turbine("voltage", "1"));
      console.log(query_turbine("voltage", "2"));
      console.log(query_turbine("voltage", "3"));
      var datatable = document.getElementById("datatable");
      var table_data = '[{"Turbine ID":"1","Temperature":' + query_turbine("temperature", "1") + ', "Voltage":' + query_turbine("voltage", "1") + ',"Timestamp":"{{timestamp}}", "Comments":""},{"Turbine ID":"2","Temperature":' + query_turbine("temperature", "2") + ', "Voltage":' + query_turbine("voltage", "2") + ',"Timestamp":"{{timestamp}}", "Comments":""},{"Turbine ID":"3","Temperature":' + query_turbine("temperature", "3") + ', "Voltage":' + query_turbine("voltage", "3") + ',"Timestamp":"{{timestamp}}", "Comments":""}]';
      //console.log(datatable);
      $("#datatable").attr("table-data", table_data);
    }
    setInterval(update_elements, 5000);
  </script>
    </div>
  </div>

  <script>
    function openClient(clientName) {
        var i;
        var x = document.getElementsByClassName("client");
        for (i = 0; i < x.length; i++) {
           x[i].style.display = "none";  
        }
        document.getElementById(clientName).style.display = "block";  
    }
  </script>
</body>
  